<div class="container-fluid"> 
    <div class="row"> 
          
        <div class="col-md-6"> 
           <div class="bg-img1" style="height: 608px;"> </div>
            <div class="text-left">
          <h3><b>Department of Animal Husbandry and Dairying</b></h3>   
          
          <a routerLink="/dashboard"><button type="button" class="btn btn-success btn-layout">Click Here</button></a>
       
        </div>  
          </div> 
          <div class="col-md-6"> 
            <div class="bg-img2" style="height: 608px;"> </div>
             <div class="text-right">
           <h3><b>Department of Fisheries</b></h3>   
           <button type="button"class="btn btn-primary btn-layout" style="margin-top: 62px;">Click Here</button>
        
         </div>  
           </div> 
    </div> 
  </div>