<app-header></app-header>
      <div class="heding-middle-text">National Programme For Dairy Development </div>
      <div class="container" style="max-width: 1205px;">
       
        <div class="row" >
          <div class="col-sm-3">
            <div class="card" style="background-color: #005588; color: white; border-radius: 10px;" >
              <div class="card-body">
             
                <!-- <div class="container"> -->
  
                <div class="row mt-2">
                 
                    <div class="col-sm" >
                          <div class="row" >
                            <div class="col-sm mt-5" style="text-align: center;">
                              <p>Number of Projects <br> Sanctioned</p> 
                            <h5 class="card-title mt-5 mb-4 top-five-states"> 168</h5>
                          </div>      
                            </div>
                         <hr>

                            <div class="row" >
                                <div class="col-sm mt-5" style="text-align: center;">
                                  <p>States/UTs Covered</p> 
                                <h5 class="card-title mt-5 mb-4 top-five-states">30</h5>
                              </div>                         
                                </div>                       
                      </div>
                </div>  
                <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding: 0px;">
            <div class="card" style="border-radius: 10px;">
              <div class="card-body">
               <p class="box-heading" style="text-align: center;"> FINANCIAL PROGRESS</p>
                <!-- <div class="container"> -->
               <div class="row">
                        <div class="col-sm-3" >
                         <p class="card-text-one">Total Approved Outlay</p>
                        </div>
                        <div class="col-sm-3 text-right" >
                            <p class="card-text-one">Central Share</p>
                        </div>
                        <div class="col-sm-3 text-right" >
                            <p class="card-text-one">Funds Released</p>
                        </div>
                        <div class="col-sm-3 text-right" >
                            <p class="card-text-one">Funds Utilised</p>
                        </div>
                       
                      
                     </div>

              <div class="row">
                <div class="col-sm-3" >
                  <p class="total-livestock-count-blue">2,408 Cr</p>
                </div>
                <div class="col-sm-3 text-right" >
                    <p class="total-livestock-count-green ">1,873 Cr</p>
                </div>
                <div class="col-sm-3 text-right" >
                    <p class="total-livestock-count-green">1,566 Cr</p>
                </div>
                <div class="col-sm-3 text-right">
                    <p class="total-livestock-count-green ">1,018 Cr</p>
                </div>
               
      </div>


            </div>
          </div>
        </div>
    
     
        <div class="col-sm-3">
          <div class="card" style="background-color: #005588; color: white; border-radius: 10px;"  >
              <div class="card-header border-bottom bg-transparent" style="font-weight: 700;">TOP FIVE PERFORMING STATES
                </div>
            <div class="card-body">
           
              <!-- <div class="container"> -->
                  <div class="row mt-1" >
                     
                      <div class="col-sm-12" style="text-align: center; min-height: 65px;"  >
                        <h6 class="top-five-box-heading mb-1"> BIHAR</h6>
                        <p class="mb-1" style="font-size: 14px;">Fund Utilization </p>  
                        <h5>156.53 Cr</h5>                         
                      </div>
                    
                     
                    </div>
                    <hr>            
                    <div class="row " >
                     
                      <div class="col-sm-12 mt-2 " style="text-align: center; min-height: 65px;"  >
                        <h6 class="top-five-box-heading mb-1">RAJASTHAN </h6>
                        <p class="mb-1" style="font-size: 14px;">Fund Utilization</p>  
                        <h5>114.45 Cr</h5>                         
                      </div>
                    
                     
                    </div>
                    <hr>    
                    <div class="row " >
                     
                      <div class="col-sm-12 mt-2" style="text-align: center; min-height: 65px;"  >
                        <h6 class="top-five-box-heading mb-1">KERALA</h6>
                        <p class="mb-1" style="font-size: 14px;">Fund Utilization</p>  
                        <h5>95.25 Cr</h5>                         
                      </div>
                    
                     
                    </div>
                    <hr>    
                    <div class="row " >
                     
                      <div class="col-sm-12 mt-2" style="text-align: center; min-height: 65px;"  >
                        <h6 class="top-five-box-heading mb-1">TAMIL NADU </h6>
                        <p class="mb-1" style="font-size: 14px;">Fund Utilization</p>  
                        <h5>85.61 Cr</h5>                         
                      </div>
                    
                     
                    </div>
                    <hr>    
                    <div class="row " >
                     
                      <div class="col-sm-12 mt" style="text-align: center; min-height: 80px;"  >
                        <h6 class="top-five-box-heading mb-1">PUNJAB</h6>
                        <p class="mb-1" style="font-size: 14px;">Fund Utilization</p>  
                        <h5>64.22 Cr</h5>                         
                      </div>
                    
                     
                    </div>
                   
            </div>
          </div>
        </div>
        


          
        <div class="heding-middle-two">
            <div class="row">
                <div class="col-sm-12" style="padding: 0px;">
                  <div class="card" style="border-radius: 10px;" >
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body">
                         <p class="box-heading" style="text-align: center;"> PHYSICAL PROGRESS</p>
                          <!-- <div class="container"> -->
                            <div class="row">
                 
                              <div class="col-sm-3">
                                <p  class="top-five-box-font-heading">Increase in Average Daily Milk Procurement </p>      
                               
                              </div>
                              <div class="col-sm-3 text-right" >
                                <p class="top-five-box-font-heading">Bulk Milk Cooler Installed  </p>      
                                  <!-- <i class="fab fa-accessible-icon mt-2" style="font-size:50px; "></i> -->
                                
                              </div>
                              <div class="col-sm-3 text-right" >
                                <p  class="top-five-box-font-heading">AMCU/DPMCU Installed</p>    
                                <!-- <i class="fab fa-accessible-icon mt-2" style="font-size:50px; "></i> -->
                              
                            </div>
                          
                            <div class="col-sm-3 text-right"  >
                                <p  class="top-five-box-font-heading">Milk Adulteration Testing Machines Installed</p>    
                                <!-- <i class="fab fa-accessible-icon mt-2" style="font-size:50px; "></i> -->
                            
                            </div>
                            </div>
      
      
                      <div class="row">
                       
                        <div class="col-sm-3" >
                              
                          <p class="total-livestock-count-blue">3,773 TKGPD</p>
                               
                        </div>
                        <div class="col-sm-3 text-right" style="margin-top: -30px;">
                          <p class="card-text-one"> Number</p>
                          <p class="total-livestock-count-blue">2,435</p> 
                          <p class="card-text-one">Capacity (In Thousand Liters)</p>     
                          <p class="total-livestock-count-blue">4,755.62</p>
                          <!-- <div class="row">
                            <div class="col-sm-6">
                              <p class="total-livestock-count-blue">4755 KL</p>
                            </div>
                            <div class="col-sm-6">
                              <p class="total-livestock-count-blue">4755 KL</p>
                            </div>
                          </div> -->
                        </div>
                        <div class="col-sm-3 text-right">
                           
                          <p class="total-livestock-count-blue">2,0687</p>
                      </div>
                    
                      <div class="col-sm-3 text-right" >
                             
                          <p class="total-livestock-count-blue">2,732</p>
                      </div>
                      </div>
                        </div>
                      </div>
                  </div>
                </div>
          
              </div>
  
        </div>
      
     

<div class="bg-img">
    <div class="row" >
        
        <span class="box-heading-one">SUCCESS STORIES</span>
        <owl-carousel-o [options]="customOptions">
   
            <ng-container *ngFor="let slide of slides">

              <ng-template carouselSlide [id]="slide.id">
                <div class="col" style="
                margin-top: 5px;
            ">
                   <div class="card" style="border-radius: 20px;">
                  
                     <div class="card-body" style="height: 135px; ">
                        
                         <!-- <div class="container"> -->
                         <div class="row">
                          
                           <div class="col-sm-4">
                            
                              <div  class="icon-box"style="margin-left: 21px; margin-top: 15px;">
                                <span  class="registrations-today-icon"><img  src="/assets/imgs/background/2.png" style="height: 70px;" alt=""></span></div>
                            
                           </div>
                           <div class="col-sm-8 text-right">
                            <span class="box-heading-two"> RAJENDRA PRASAD</span>
                             <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                           </div>
                         </div>
                         <!-- </div> -->
                       </div>               
        </div>
      </div>
    </ng-template>
</ng-container>
   
</owl-carousel-o>
    


    </div>
</div>


</div>

   


         

      