<app-header></app-header>
<div class="heding-middle-text">Supporting Dairy Cooperatives and Farmer Producer Organizations</div>
<div class="container" style="max-width: 1228px;">
    <div style="background-color: #f0f1f1;  padding: 16px 12px 18px 15px; border-radius: 10px; ">
      <div class="row">
        <div class="col-sm-4 mt-4" style="text-align: center;">
          <div class="card" style="border-radius: 10px;" >
            <div class="card-body">
              <div class="row">
                <div class="mt-3 col-sm-12">               
               </div>
               <div class="mt-3 col-sm-12 text-right heading-one">
                <p>Number of Milk Cooperatives/ <br>FPOs Aassisted</p> 
                       
               </div>
               <div class="col-sm-12 text-right heading-one" style="padding: 0px 118px;">
               
                <p class="card-title mt-3 total-livestock-count-blue" > 59</p>          
               </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
  
        <div class="col-sm-4 mt-4" style="text-align: center;">
            <div class="card" style="border-radius: 10px;" >
              <div class="card-body">
                <div class="row">
                  <div class="mt-3 col-sm-12">               
                 </div>
                 <div class="mt-3 col-sm-12 text-right heading-one">
                  <p>Working Capital Loan Amount<br>Considered for Interest Subvention</p> 
                         
                 </div>
                 <div class="col-sm-12 text-right heading-one" style="padding: 0px 118px;">
                 
                  <p class="card-title mt-3 total-livestock-count-blue" >24,318 Cr</p>          
                 </div>
                </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 mt-4" style="text-align: center;">
            <div class="card" style="border-radius: 10px;" >
              <div class="card-body">
                <div class="row">
                  <div class="mt-3 col-sm-12">               
                 </div>
                 <div class="mt-3 col-sm-12 text-right heading-one">
                  <p>Interest Subvention <br>Disbursed</p> 
                         
                 </div>
                 <div class="col-sm-12 text-right heading-one" style="padding: 0px 118px;">
                 
                  <p class="card-title mt-3 total-livestock-count-blue" > 231.34 Cr</p>          
                 </div>
                </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
      </div>
                    

  
  
     
    </div>                
   </div>