.bg-color{
    background-color: #273f78
  }
  .gov-india
  {
    text-align: right;
  }
  .common-left {
    margin-left: 25px;
}
.common-left ul li {
    float: left;
    line-height: 0%;
    font-size: 65%;
    font-weight: 600;
    text-transform: uppercase;
    height: 45px;
    padding-top: 6px;
    padding-right: 8px;
}

.link-dark-color{
    font-weight: 700;
    color: #3e3f4bba !important;
}
.common-left ul li.ministry {
    padding-left: 8px;
    border-left: 1px solid #eeeeee;
}
.vertical-line{
    display: inline-block;
    border-left: 1px solid #b1afaf;
    height: 59px;
    margin-top: 12px;
}
.nav-link1 {
    display: block;
    color: var(--bs-nav-link-color);
    text-decoration: none;
    font-weight: 700;
    font-size: xx-small;
}
.heading-one{
    text-align: center;
    color: #005588;
    font-size: 17px;
    font-weight: 700;
}
.bg-logo {
    background-image:url("http://localhost:4200/assets/imgs/background/dashboard-background.jpg");
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #a7abaeab;
    background-blend-mode: multiply;
    opacity: .2;
    top: 0;
}
.total-livestock-count-blue{
    border: solid 1px #23396c;
    border-radius: 2px solid;
    border-radius: 17px;
   // width: 109px;
    height: 31px;
    color: black;
    padding: 2px 19px;
    text-align: center;
}
.dropdown-menu{
    // color: white !important;
     --bs-dropdown-link-color: white;
     background-color: #162d64;
 }
 .dropdown-menu li{
   border-bottom: 1px solid white;
}
ul li:last-child { 
   border:none; 
 }
 .heding-middle-text {
    left: 50%;
    margin-top: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    font-weight: 700;
    color: #005588;
    margin-bottom: -10px;
    font-size: 25px; 
  }