<app-header></app-header>
      <div class="heding-middle-text">Dairy Processing and Infrastructure Development Fund (DIDF)</div>
      <div class="container" style="max-width: 1205px;">
       
        <div class="row" >
          <div class="col-sm-3">
            <div class="card" style="background-color: #005588; color: white; border-radius: 10px;" >
              <div class="card-header border-bottom bg-transparent" style="font-weight: 700;" >
               SUMMARY
              </div>
              <div class="card-body" style="padding: 60px;" >
             
                <!-- <div class="container"> -->
  
                <div class="row">
                 
                    <div class="col-sm" >
                          <div class="row" >
                            <div class="col-sm mt-2" style="text-align: center;">
                              <p>No. of Projects</p> 
                            <h5 class="card-title mt-3 top-five-states"> 36</h5>
                          </div>
                         
                       
                            </div>
                         <hr>

                           
                                <div class="row" >
                                    <div class="col-sm mt-4" style="text-align: center;">
                                      <p>No. of States/UTs</p> 
                                    <h5 class="card-title mt-2 top-five-states"> 11</h5>
                                  </div>
                                 
                                 
                                    </div>
                        
                      </div>
                 

           
                </div>
                

                
                <!-- </div> -->
              </div>
            </div>
          </div>
    
      
    
    
          <div class="col-sm-6" style="padding: 0px;">
            <div class="card" style="border-radius: 10px;">
              <div class="card-body">
               <p class="box-heading" style="text-align: center;"> FUNDING PATTERN AND SOURCE OF FUND</p >
                <!-- <div class="container"> -->
                    <div class="row">
                        <div class="col-sm-3">
             <p class="card-text-one">Scheme Outlay</p>
                        
                        </div>
                        <div class="col-sm-3 text-right">
                            <p class="card-text-one">Loan Component (from NABARD/NDDB)</p>
                            
                        </div>
                        <div class="col-sm-3 text-right">
                            <p class="card-text-one"> End Borrower Contribution</p>
                           
                        </div>
                        <div class="col-sm-3 text-right">
                            <p class="card-text-one">  Interest Subvention  &nbsp;</p>
                            <!-- <i class="fab fa-accessible-icon mt-2" style="font-size:50px; "></i> -->
                          
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-sm-3">
                          <h5 class="card-title mt-3 total-livestock-count-blue" > 11,184 Cr</h5>
                        </div>
                        <div class="col-sm-3 text-right">
                          
                            <h5 class="card-title mt-3 total-livestock-count-green" > 8,004 Cr</h5>
                        </div>
                        <div class="col-sm-3 text-right">
                          
                            <h5 class="card-title mt-3 total-livestock-count-green"> 2,001Cr</h5>
                        </div>
                        <div class="col-sm-3 text-right">
                            
                            <h5 class="card-title mt-3 total-livestock-count-green" > 1,167 </h5>
                        </div>
                      </div>
              </div>
            </div>
          </div>
    

          
    
          <div class="col-sm-3">
            <div class="card" style="background-color: #005588; color: white; border-radius: 10px;" >
              <div class="card-header border-bottom bg-transparent" style="font-weight: 700;" >
                TOP FIVE PERFORMING STATES
              </div>
              <div class="card-body">
           
                <!-- <div class="container"> -->
                    <div class="row mt-1" >
                       
                        <div class="col-sm-12" style="text-align: center; min-height: 65px;"  >
                          <h6 class="top-five-box-heading mb-1"> KARNATAKA</h6>
                          <p class="mb-1" style="font-size: 14px;">Loan sanctioned  </p>  
                          <h5>1,252.80 Cr</h5>                         
                        </div>
                      
                       
                      </div>
                      <hr>            
                      <div class="row " >
                       
                        <div class="col-sm-12 mt-2 " style="text-align: center; min-height: 65px;"  >
                          <h6 class="top-five-box-heading mb-1">GUJARAT </h6>
                          <p class="mb-1" style="font-size: 14px;">Loan sanctioned</p>  
                          <h5>822.59 Cr</h5>                         
                        </div>
                      
                       
                      </div>
                      <hr>    
                      <div class="row " >
                       
                        <div class="col-sm-12 mt-2" style="text-align: center; min-height: 65px;"  >
                          <h6 class="top-five-box-heading mb-1">TAMIL NADU</h6>
                          <p class="mb-1" style="font-size: 14px;">Loan sanctioned</p>  
                          <h5>549.39 Cr</h5>                         
                        </div>
                      
                       
                      </div>
                      <hr>    
                      <div class="row " >
                       
                        <div class="col-sm-12 mt-2" style="text-align: center; min-height: 65px;"  >
                          <h6 class="top-five-box-heading mb-1">PUNJAB </h6>
                          <p class="mb-1" style="font-size: 14px;">Loan sanctioned</p>  
                          <h5>249.77 Cr</h5>                         
                        </div>
                      
                       
                      </div>
                      <hr>    
                      <div class="row " >
                       
                        <div class="col-sm-12 mt" style="text-align: center; min-height: 80px;"  >
                          <h6 class="top-five-box-heading mb-1">TELANGANA</h6>
                          <p class="mb-1" style="font-size: 14px;">Loan sanctioned</p>  
                          <h5>156.70 Cr</h5>                         
                        </div>
                      
                       
                      </div>
                     
              </div>
            </div>
          </div>
        </div>
        <div class="heding-middle-two">
            <div class="row">
                <div class="col-sm-12" style="padding: 0px;">
                  <div class="card" style="border-radius: 10px;" >
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body">
                         <p class="box-heading " style="text-align: center;"> FINANCIAL PROGRESS</p>
                          <!-- <div class="container"> -->
                              <div class="row">
                                  <div class="col-sm-4">
                       <p class="card-text-one">Total Project Outlay Approved</p>
                             
                                  </div>
                                  <div class="col-sm-4 text-right">
                                      <p class="card-text-one">Total Loan Approved </p>
                                   
                                  </div>
                                  <div class="col-sm-4 text-right">
                                      <p class="card-text-one">Total Loan disbursed</p>
                                   
                                  </div>
                                  
                                </div>

                                <div class="row">
                                  <div class="col-sm-4">
                     
                                 <h5 class="card-title total-livestock-count-blue mt-4 ">5,429.50 Cr</h5>
                                  </div>
                                  <div class="col-sm-4 text-right">
                                    
                                 <h5 class="card-title total-livestock-count-green mt-4">3,483.71 Cr</h5>
                                  </div>
                                  <div class="col-sm-4 text-right">
                                     
                                      <h5 class="card-title total-livestock-count-green mt-4">1,294.93Cr</h5>
                                  </div>
                                  
                                </div>

                        </div>
                      </div>
                  </div>
                </div>
          
              </div>
  
        </div>

          
        <div class="heding-middle-three">
            <div class="row">
                <div class="col-sm-12" style="padding: 0px;">
                  <div class="card" style="border-radius: 10px;" >
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body">
                         <p class="box-heading" style="text-align: center;"> PHYSICAL PROGRESS</p>
                          <!-- <div class="container"> -->
                        
      
                            <div class="row">
                       
                              <div class="col-sm-3" style="width: 117px;">
                                <p class="card-text-one">Milk Processing Capacity (In LLPD)</p>      
                              
                              </div>
                              <div class="col-sm-2 text-right" style=" width: 117px;">
                                <p class="card-text-one">Value added and Product Capacity (In LLPD)</p>      
                              
                              </div>
                              <div class="col-sm-2 text-right" style=" width: 117px;">
                                <p class="card-text-one">Drying Capacity (In MTPD)</p>      
                               
                            </div>
                            <div class="col-sm-2 text-right" style=" width: 117px;">
                                <p class="card-text-one">No. of Dairy Plant Refurbished/Strengthened</p>      
                              
                            </div>
                            <div class="col-sm-3 text-right" style="width: 113px;" >
                                <p class="card-text-one">Producer Member Covered</p>      
                               
                            </div>
                            </div>


                            <div class="row">
                       
                              <div class="col-sm-3" style=" width: 117px;">
                                   
                                <h5 class="card-title  total-livestock-count-blue">58.70 </h5>
                                     
                              </div>
                              <div class="col-sm-2 text-right" style=" width: 117px;">
                                     
                                <h5 class="card-title total-livestock-count-green" >10.46 </h5>
                              </div>
                              <div class="col-sm-2 text-right" style=" width: 117px;">
                                   
                                <h5 class="card-title total-livestock-count-green" >265 </h5>
                            </div>
                            <div class="col-sm-2 text-right" style=" width: 117px;">
                                     
                                <h5 class="card-title total-livestock-count-green" > 10</h5>
                            </div>
                            <div class="col-sm-3 text-right" style="width: 113px;" >
                                   
                                <h5 class="card-title  total-livestock-count-green" > 27.28 L</h5>
                            </div>
                            </div>
      
                        </div>
                      </div>
                  </div>
                </div>
          
              </div>
  
        </div>
        <div style="
        padding: 10px 225px;
        margin-top: -60px; visibility: hidden;
        ">
        
            <google-chart [data]="geoChart" *ngIf=mapReady></google-chart>
        </div>
     
<div class="bg-img">
    <div class="row" style="margin-top:35px" >
        
        <span class="box-heading-one">SUCCESS STORIES</span>
        <owl-carousel-o [options]="customOptions">
   
            <ng-container *ngFor="let slide of slides">

              <ng-template carouselSlide [id]="slide.id">
                <div class="col" style="
                margin-top: 5px;
            ">
                   <div class="card" style="border-radius: 20px;">
                  
                     <div class="card-body" style="height: 135px; ">
                        
                         <!-- <div class="container"> -->
                         <div class="row">
                          
                           <div class="col-sm-4">
                            
                              <div  class="icon-box"style="margin-left: 21px; margin-top: 15px;">
                                <span  class="registrations-today-icon"><img  src="/assets/imgs/background/2.png" style="height: 70px;" alt=""></span></div>
                            
                           </div>
                           <div class="col-sm-8 text-right">
                            <span class="box-heading-two"> RAJENDRA PRASAD</span>
                             <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                           </div>
                         </div>
                         <!-- </div> -->
                       </div>               
        </div>
      </div>
    </ng-template>
</ng-container>
   
</owl-carousel-o>
    


    </div>
</div>


</div>

   


         

      